:root {
  --main-orange-dark: #BB5500;
  --main-orange-light: #DB8B31;
  --main-gray-dark: #2D2D2D;
  --main-gray-light: #43413F;
}

.nav-bar-block, .bar {
  background-color: var(--main-orange-dark) !important;
  border: none !important;

}
.button {
  color: white !important;
}
.title{
  color: white !important;
}

.menu-item-w a{
  background-color: var(--main-gray-light) !important;
  color : var(--main-orange-light) !important;
}

.menu-item-w.item {
  border: none;
  border: 1px var(--main-gray-dark) solid;
}

.button-primary-w,
.button-primary-w:hover {
  margin: 10pt;
  background-color: var(--main-orange-light);
  color: #ffffff;
  border: none;
}

.button-primary-w:focus,
.button-primary-w:active,
.button-primary-w:visited{
  margin: 10pt;
  background-color: var(--main-orange-dark);
  color: #ffffff;
  border: none;
}

.background-dark-w {
  background-color: var(--main-gray-dark);
}

.background-light-w {
  background-color: var(--main-gray-light);
}

.checkbox-dark-w {
  background-color: var(--main-gray-dark);
  border: none;
  color: #ffffff;
}

.checkbox-w input:before,
.checkbox-w .checkbox-icon:before {
border-color: var(--main-orange-light);
background: var(--main-gray-light);
}

.checkbox-w input:checked:before,
.checkbox-w input:checked + .checkbox-icon:before {
background: var(--main-orange-light);
border-color: var(--main-orange-light);
}

.login-title-w {
  font-size: 35pt;
  margin: 0;
  font-family: 'Open Sans Condensed', sans-serif;
  color: var(--main-orange-light);
}

.label-title-w{
  background-color: var(--main-gray-dark) !important;
  color: var(--main-orange-light) !important;
  border-top: 1px solid var(--main-gray-light);
}

.table-w {
  margin-top: 10pt;
  margin-bottom: 10pt;
}

.borderless-w {
  border: none;
}

.table-w-head th{
  background-color: var(--main-orange-dark);
  color: #ffffff;
}

.table-w-head th{
  border:none;
}

.table-w-body td{
  color: #ffffff;
}

.table-w-body td {
  border-top: none;
  background: var(--main-gray-dark);
  border-bottom: 1px solid var(--main-gray-light);
}

.input-w {
  display: inline-block  !important;
  margin: 5pt  !important;
  background-color: var(--main-gray-light) !important;
  text-align: center  !important;
  font-size: 12pt !important;
  height: 45px  !important;
  color: var(--main-orange-light) !important;
  width: 80%  !important;
  border-radius: 4px  !important;
  border: 1px solid var(--main-orange-light) !important;
}

.center-w {
  text-align: center;
}

.actionbar-w {
  background-color: var(--main-gray-dark);
  color: var(--main-orange-light);
}
