:root {
  --main-orange-dark: #BB5500;
  --main-orange-light: #DB8B31;
  --main-gray-dark: #2D2D2D;
  --main-gray-light: #43413F;
}

.nav-bar-block, .bar {
  background-color: #BB5500 !important;
  border: none !important;

}

.button {
  color: white !important;
}
.title{
  color: white !important;
}

.menu-item-w a{
  background-color: #43413F !important;
  color : #DB8B31 !important;
}

.menu-item-w.item {
  border: none;
  border: 1px #2D2D2D solid;
}

.button-primary-w,
.button-primary-w:hover {
  margin: 10pt;
  background-color: #DB8B31;
  color: #ffffff;
  border: none;
}

.button-primary-w:focus,
.button-primary-w:active,
.button-primary-w:visited{
  margin: 10pt;
  background-color: #BB5500;
  color: #ffffff;
  border: none;
}

.button-login-w {
  width:80%;
  height:40pt;
}

.icon-button-w,
.icon-button-w:hover {
  background-color: transparent;
  height: 24pt;
  color: #DB8B31;
  border:none;
}

.icon-button-w:focus,
.icon-button-w:active,
.icon-button-w:visited {
  background-color: transparent;
  height: 24pt;
  color: #DB8B31;
  border:none;
}
.icon-button-w.button{
  color: #DB8B31 !important;
  font-size: 20pt;
}

.background-dark-w {
  background-color: #2D2D2D;
}

.background-light-w {
  background-color: #43413F;
}

.checkbox-dark-w {
  background-color: #2D2D2D;
  border: none;
  color: #ffffff;
}

.checkbox-w input:before,
.checkbox-w .checkbox-icon:before {
border-color: #DB8B31;
background: #43413F;
}

.checkbox-w input:checked:before,
.checkbox-w input:checked + .checkbox-icon:before {
background: #DB8B31;
border-color: #DB8B31;
}
.button-right,
.checkbox-right {
  float: right;
  clear: both;
}

.menu-title-w {
  color: #BB5500;
  margin-left: 10pt;
}

.login-title-w {
  font-size: 30pt;
  margin: 0;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #DB8B31;
}

.login-title-container-w {
  text-align:center;
  margin-bottom:30pt;
  margin-top:40pt;
}

.margin-10{
  margin: 10pt;
}
.margin-20{
  margin: 10pt;
}
.margin-30{
  margin: 10pt;
}

.label-title-w{
  background-color: #2D2D2D !important;
  color: #DB8B31 !important;
  border: none;
  border-top: 1px solid #43413F;
  padding-top: 5pt;
  padding-bottom 5pt;
  height: 20pt;
}

.profile-name-label-w{
  font-size: 24pt !important;
  background-color: #2D2D2D !important;
  color: #DB8B31 !important;
  border: none;
  display: inline !important;
  padding-top: 5pt;
  padding-bottom: 5pt;
}

.input-focusable:active,
.input-focusable:focus{
  background-color: #43413F !important;
}
.table-w {
  margin-top: 10pt;
  margin-bottom: 10pt;
}

.borderless-w {
  border: none;
}

.table-w-head {
  background-color: #DB8B31;
  color: #ffffff;
  font-size:15pt;
  border:none;
}

.table-w-body {
  margin: 2px !important;
  border-top: none;
  background: #2D2D2D;
  border-bottom: 1px solid #43413F;
  color: #ffffff;
}

.input-w {
  display: inline-block  !important;
  margin: 5pt  !important;
  background-color: #43413F !important;
  text-align: center  !important;
  font-size: 12pt !important;
  height: 45px  !important;
  color: #DB8B31 !important;
  width: 80%  !important;
  border-radius: 4px  !important;
  border: 1px solid #DB8B31 !important;
}

.input-w-bigfont {
  display: inline-block  !important;
  margin: 5pt  !important;
  background-color: #43413F !important;
  text-align: center  !important;
  font-size: 15pt !important;
  height: 45px  !important;
  color: #DB8B31 !important;
  width: 80%  !important;
  border-radius: 4px  !important;
  border: 1px solid #DB8B31 !important;
}

.center-w {
  text-align: center;
}

.actionbar-w {
  background-color: #2D2D2D;
  color: #DB8B31;
}

.interest-icon {
  padding-left:37px;
  padding-top: 7px;
  width: 32px;
  height: 32px;
  display: inline-block;
}
.icon-trading {
  background:url("../img/icon_trading.png");
  background-repeat: no-repeat;
}
.icon-exploration {
  background:url("../img/icon_exploration.png");
  background-repeat: no-repeat;
}

.icon-combat {
  background:url("../img/icon_combat.png");
  background-repeat: no-repeat;
}

.toggle-w{
  background-color: #2D2D2D;
  border: none;
  height: 50px;
}

.toggle-w input + .track {
  border: 1px solid #DB8B31 !important;
  background-color: #2D2D2D !important;
  color: black;
}

.toggle-w input:checked + .track {
  background-color: green !important;
}

.toggle-w.toggle-checked .toggle-inner{
background-color: #red; // Whatever color you want
}

.interest-icon-cg {

}

.anim-fade-row {
  opacity: 0;
}

.anim-fade {
  -webkit-animation: fadein 2s 1 forwards; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s 1 forwards; /* Firefox < 16 */
        -ms-animation: fadein 2s 1 forwards; /* Internet Explorer */
         -o-animation: fadein 2s 1 forwards; /* Opera < 12.1 */
            animation: fadein 2s 1 forwards;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.anim-slide-row {
  transform: translateX(100%);
}

.anim-slide {
  transform: translateX(100%);
  -webkit-animation: slide 3.5s 1 forwards;
  animation: slide 3.5s 1 forwards;
}

@-webkit-keyframes slide {
  0% {
    transform: translateX(100%);
  }
  14.28% {
    transform: translateX(0);
  }
  85.71% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slide {
  0% {
    transform: translateX(100%);
  }
  14.28% {
    transform: translateX(0);
  }
  85.71% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0%);
  }
}

.anim-collapse {
    transform: translateY(0%);
  -webkit-animation: collapse 1s 1 forwards;
  animation: collapse 1s 1 forwards;
}

.anim-collapse-reverse {
    transform: translateY(0%);
  -webkit-animation: collapse 1s 1 forwards reverse;
  animation: collapse 1s 1 forwards reverse;
}

@-webkit-keyframes collapse {
  0% {
    transform: translateY(0%);
    opacity: 1;
  }
  50%{
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}
@keyframes collapse {
  0% {
    transform: translateY(0%);
    opacity: 1;
  }
  50%{
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}

.anim-top {
  transform: translateY(0%);
-webkit-animation: moveTop 1s 1 forwards;
animation: moveTop 1s 1 forwards;
}

.anim-top-reverse {
  transform: translateY(0%);
-webkit-animation: moveTop 1s 1 forwards reverse;
animation: moveTop 1s 1 forwards reverse;
}

@-webkit-keyframes moveTop {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-130%);
  }
}
@keyframes moveTop {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-130%);
  }
}
