:root {
  --main-orange-dark: #BB5500;
  --main-orange-light: #DB8B31;
  --main-gray-dark: #2D2D2D;
  --main-gray-light: #43413F;
}

.button-primary-w,
.button-primary-w:hover {
  margin-left: 10pt;
  background-color: var(--main-orange-dark);
  color: #ffffff;
  border: none;
}

.button-primary-w:focus,
.button-primary-w:active,
.button-primary-w:visited{
  margin-left: 10pt;
  background-color: var(--main-orange-light);
  color: #ffffff;
  border: none;
}

.background-dark-w {
  background-color: var(--main-gray-dark);
}

.checkbox-dark-w {
  background-color: var(--main-gray-dark);
  border: none;
  color: #ffffff;
}

.checkbox-w input:before,
.checkbox-w .checkbox-icon:before {
border-color: #ffffff;
}

.checkbox-w input:checked:before,
.checkbox-w input:checked + .checkbox-icon:before {
background: var(--main-orange-light);
border-color: var(--main-orange-light);
}

.table-w {
  margin-top: 10pt;
  margin-bottom: 10pt;
}

.borderless-w {
  border: none;
}

.table-w-head {
  background-color: var(--main-orange-dark);
  color: #ffffff;
}

.table-w-head th{
  border:none;
}

.table-w-body {
  color: #ffffff;
}

.table-w-body td {
  border-top: none;
  border-bottom: 1px solid var(--main-gray-light);
}
