<ion-view view-title="Find">
  <ion-content ng-controller="FinderController" class="background-dark-w">
    <!-- Request mondal -->
    <script id="request-modal" type="text/ng-template">
      <ion-modal-view class="request-modal" style="background:#43413F;" ng-controller="RequestController">
        <ion-content class="center-w">
          <div class="row">
            <div class="col">
              <input type="hidden" ng-model="toUserId" />
              <button class="button button-primary-w" style="width:95%" ng-click="sendRequest(toUserId)">Send request</button>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <button ng-click="closeModal()" style="width:95%" class="button button-primary-w">Cancel</button>
            </div>
          </div>
        </ion-content>
      </ion-modal-view>
    </script>


    <div id="collapse-button" class="row" style="position:absolute;visibility:hidden;">
      <button ng-click="showFilters()" class="button icon-left ion-arrow-down-b button-primary-w">
        Filters
      </button>
    </div>
    <!-- Filters -->
    <div id="finder-filters">

      <!-- Interest filters -->
      <label class="label-title-w item sans-font">
        Interests
      </label>
      <div class="row">
        <div class="col">
          <ion-checkbox class="checkbox-dark-w checkbox-w" ng-model="filter.interest.exploration">
            <div class="interest-icon icon-exploration sans-font">Exploration</div>
          </ion-checkbox>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <ion-checkbox class="checkbox-dark-w checkbox-w" ng-model="filter.interest.trading">
            <div class="interest-icon icon-trading sans-font">Trading</div>
          </ion-checkbox>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <ion-checkbox class="checkbox-w checkbox-dark-w" ng-model="filter.interest.combat">
            <div class="interest-icon icon-combat sans-font">Combat</div>
          </ion-checkbox>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <ion-checkbox class="checkbox-w checkbox-dark-w" ng-model="filter.interest.cg">
            <div class="interest-icon icon-combat sans-font">Community Goals</div>
          </ion-checkbox>
        </div>
      </div>

      <!-- Platform filters -->
      <label class="label-title-w item sans-font">
        Platforms
      </label>
      <div class="row">
        <div class="col">
          <ion-checkbox class="checkbox-dark-w checkbox-w" ng-model="filter.platform.pc">
            <div class="interest-icon sans-font">PC</div>
          </ion-checkbox>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <ion-checkbox class="checkbox-w checkbox-dark-w" ng-model="filter.platform.xbox">
            <div class="interest-icon sans-font">XBOX</div>
          </ion-checkbox>
        </div>
      </div>
      <div class="row">
        <div class="col center-w">
          <button ng-click="getProfiles()" class="button icon-left ion-search button-primary-w sans-font"
              style="width:80%;">
            Find
          </button>
        </div>
      </div>
    </div>

    <!-- Search results -->
    <div id="profile-table" style="position:relative;float:top;">
      <div class="profile-row" ng-repeat="profile in profiles" on-hold="openModal('{{profile._id}}')"
          anim-fade-row fade-in-directive>
        <div class="row name-row">
          <div class="col sans-font">
            <p>{{profile.name}}</p>
          </div>
        </div>
        <div class="row profile-content-row">
          <div class="col sans-font">
            <p>Location</p>
          </div>
          <div class="col sans-font">
            <p>{{profile.location}}</p>
          </div>
        </div>
        <div class="row profile-content-row">
          <div class="col sans-font">
            <p>Interests</p>
          </div>
          <div class="col sans-font">
            <div ng-repeat="interest in profile.interest" class="interest-icon icon-{{interest | lowercase}}"></div>
          </div>
        </div>
        <div class="row profile-content-row">
          <div class="col sans-font">
            <p>Platform</p>
          </div>
          <div class="col sans-font">
            <p>{{profile.platform.toString()}}</p>
          </div>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
