<ion-view view-title="Find">
  <ion-content>
      <table class="pure-table pure-table-horizontal" style="width:100%">
      <thead>
          <tr>
              <th>Name</th>
              <th>Interest</th>
              <th>Date</th>
              <th>Platform</th>
          </tr>
      </thead>

      <tbody>
          <tr>
              <td>Mark</td>
              <td>Combat</td>
              <td>20.11.2015</td>
              <td>PC</td>
          </tr>

          <tr>
              <td>Simon</td>
              <td>Trade</td>
              <td>12.11.2016</td>
              <td>PC</td>
          </tr>

          <tr>
              <td>Mary</td>
              <td>Trade</td>
              <td>04.05.2016</td>
              <td>PC</td>
          </tr>
      </tbody>
    </table>
  </ion-content>
</ion-view>
