<ion-view view-title="Login" hide-nav-bar="true">
  <ion-content class="background-dark-w center-w" ng-controller="LoginController">

    <div class="login-title-container-w">
      <img ng-src="img/ed_logo.png" />
      <h1 class="login-title-w">Elite: WingNet</h1>
    </div>
    <form ng-submit="login()">
      <label>
        <input class="input-w" type="text" ng-model="login.username"
        placeholder="Username">
      </label>

      <label>
        <input class="input-w" type="password" ng-model="login.password"
        placeholder="Password">
      </label>

      <button ng-click="login()" class="button button-primary-w button-login-w">
        Log in
      </button>
    </form>
  </ion-content>
</ion-view>
