<ion-view view-title="Messenger" ng-controller="ConversationController">
  <ion-content class="background-dark-w">
    <div class="row message-box message-box-own">
      <div class="col">
        Hello<br /> We AD
      </div>
    </div>
    <div class="row message-box">
      <div class="col">
        Hello! <br> Toy
      </div>
    </div>
    <div class="row message-box">
      <div class="col">
        Whats up?!
      </div>
    </div>
  </ion-content>
  <div id="wrapper" style="position:relative;height:100%;width:100%;margin:0;">
    <button ng-click="sendMessage()" id="sendMessageButton" class="button button-primary-w message-send-button">
      Send
    </button>
    <textarea id="newMessage" class="message-field" ng-model="messenger.message">
    </textarea>
  </div>
</ion-view>
