<ion-view view-title="Messenger" ng-controller="MessageController">
  <ion-content class="background-dark-w">
    <div class="row message-box {{message.own ? 'message-box-own' : ''}}" ng-repeat="message in messages">
      <div class="col">
        {{message.message}}
      </div>
    </div>
    <div id="wrapper">
      <textarea id="newMessage" class="message-field">
      </textarea>
      <button ng-click="sendMessage()" id="sendMessageButton" class="button button-primary-w message-send-button">
        Send
      </button>
    </div>
  </ion-content>
</ion-view>
