<ion-view view-title="Profile">
  <ion-content class="background-dark-w" ng-controller="ProfileController">
    <!-- Commander name -->
    <label class="item label-title-w">

      <input id="nameInput" type="text" class="profile-name-label-w"
       value="{{profile.name || 'John Smith'}}" readonly/>

      <button id="editButton" ng-click="toggleEdit()"
      class="button icon-middle ion-edit icon-button-w"></button>

    </label>

    <!-- Platform -->
    <label class="item label-title-w">
      Platform
    </label>
    <ion-checkbox style="display:table-cell;" class="checkbox-dark-w checkbox-w"
     ng-model="profile.platform.pc">PC</ion-checkbox>

    <ion-checkbox style="display:table-cell;" class="checkbox-dark-w checkbox-w"
     ng-model="profile.platform.xbox">XBOX</ion-checkbox>

    <!-- Interests -->
    <label class="label-title-w item">
      Interest
    </label>
    <ion-checkbox style="display:table-cell;" class="checkbox-dark-w checkbox-w"
     ng-model="profile.interest.trading">Trading</ion-checkbox>

    <ion-checkbox class="checkbox-dark-w checkbox-w"
     ng-model="profile.interest.combat">Combat</ion-checkbox>

    <ion-checkbox style="display:table-cell;" class="checkbox-dark-w checkbox-w"
     ng-model="profile.interest.exploration">Exploration</ion-checkbox>

     <label class="label-title-w item">
     </label>

     <!-- Actions -->
     <button ng-click="addProfile()"
     class="button icon-left ion-search button-primary-w">
      Add Profile
     </button>

  </ion-content>
</ion-view>
