<ion-view view-title="Profile">
  <ion-content class="background-dark-w" ng-controller="ProfileAddController">
    <label class="item item-input">
      <input type="text"ng-model="profile.name" placeholder="CMDR Mike"/>
    </label>
    <label class="item label-title-w">
      Platform
    </label>
    <ion-checkbox class="checkbox-dark-w checkbox-w"
     ng-model="profile.platform.pc">PC</ion-checkbox>

    <ion-checkbox class="checkbox-dark-w checkbox-w"
     ng-model="profile.platform.xbox">XBOX</ion-checkbox>

    <label class="label-title-w item">
      Interest
    </label>
    <ion-checkbox class="checkbox-dark-w checkbox-w"
     ng-model="profile.interest.trading">Trading</ion-checkbox>

    <ion-checkbox class="checkbox-dark-w checkbox-w"
     ng-model="profile.interest.combat">Combat</ion-checkbox>

    <ion-checkbox class="checkbox-dark-w checkbox-w"
     ng-model="profile.interest.exploration">Exploration</ion-checkbox>

     <button ng-click="addProfile()" class="button icon-left ion-search button-primary-w">
      Add Profile
     </button>

  </ion-content>
</ion-view>
