<ion-view view-title="Requests">
  <ion-content ng-controller="RequestController" class="background-dark-w">
    <table class="borderless-w table-w pure-table pure-table-horizontal"
    style="width:100%">

        <thead class="table-w-head">
            <tr>
                <th>Name</th>
                <th>Interests</th>
                <th>Platform</th>
                <th>Status</th>
                <th>Date</th>
            </tr>
        </thead>

        <tbody class="table-w-body">
            <tr ng-repeat="request in requests">
                <td>{{request.fromName}}</td>
                <td>{{request.interests.toString()}}</td>
                <td>{{request.platform.toString()}}</td>
                <td>{{request.status}}</td>
                <td>{{request.date}}</td>
            </tr>
        </tbody>
    </table>
  </ion-content>
</ion-view>
