<ion-view view-title="Requests">
  <ion-content ng-controller="RequestController" class="background-dark-w">

    <!-- Request mondal -->
    <script id="request-action-modal" type="text/ng-template">
      <ion-modal-view class="request-modal" style="background:#43413F;">
        <ion-content class="center-w">
          <!-- Buttons for incoming request actions -->
          <div ng-show="showInRequests" class="row">
            <div class="col">
              <button class="button button-primary-w" style="width:95%" ng-click="closeModal()">Accept request</button>
            </div>
          </div>
          <div ng-show="showInRequests" class="row">
            <div class="col">
              <button ng-click="closeModal()" style="width:95%" class="button button-primary-w">Decline request</button>
            </div>
          </div>
          <!-- Buttons for outgoing request actions -->
          <div ng-hide="showInRequests" class="row">
            <div class="col">
              <button ng-click="closeModal()" style="width:95%" class="button button-primary-w">Cancel request</button>
            </div>
          </div>
        </ion-content>
      </ion-modal-view>
    </script>

    <div class="row">
      <div class="col">
        <button ng-click="getRequests('IN')" style="width:100%;margin:0;" class="button button-primary-w">Recieved</button>
      </div>
      <div class="col">
        <button ng-click="getRequests('OUT')" style="width:100%;margin:0; " class="button
            button-primary-w ">Sent</button>
      </div>
    </div>
    <p style="height:20px "></p>

    <div class="row">
      <div class="col">
        <p class="login-title-w" ng-show="showInRequests">Recieved requests</p>
        <p class="login-title-w" ng-hide="showInRequests">Sent requests</p>
      </div>
    </div>

    <div class="profile-row" ng-repeat="request in requests" ng-hold="openModal">
      <div class="row name-row">
        <div class="col">
          <p ng-show="showInRequests">{{request.fromName}}</p>
          <p ng-hide="showInRequests">{{request.to}}</p>
        </div>
      </div>
      <div class="row profile-content-row">
        <div class="col">
          <p>Interests</p>
        </div>
        <div class="col">
          <div ng-repeat="interest in request.interest " class="interest-icon icon-{{interest
              | lowercase}} "></div>
        </div>
      </div>
      <div class="row profile-content-row">
        <div class="col">
          <p>Platforms</p>
        </div>
        <div class="col">
          <p>{{request.platform.toString()}}</p>
        </div>
      </div>
      <div class="row profile-content-row">
        <div class="col">
          <p>Status</p>
        </div>
        <div class="col">
          <div class="interest-icon icon-{{request.status | lowercase}}"></div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
