<ion-view view-title="Welcome">
  <ion-content class="background-dark-w center-w">
    <div class="login-title-container-w">
      <img ng-src="img/ed_logo.png" />
      <h1 class="login-title-w">Welcome to WingNet</h1>
    </div>
    <div class="row">
      <div class="col">
        <label class="label-title-w item" style="border:none;">
          You have 5 new messages.
        </label>
      </div>
    </div>
    <div class="row center-w">
      <div class="col">
        <label class="label-title-w item" style="border:none;">
          You have 2 new requests.
        </label>
      </div>
    </div>
  </ion-content>
</ion-view>
